{% extends "djangoapp/layout.html" %}

{% block content %}
  <div class="table-responsive">
    <table class="table" id="dealerTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Dealer Name</th>
          <th>City</th>
          <th>Address</th>
          <th>Zip</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        {% for dealer in dealerships %}
          <tr>
            <td>{{ dealer.id }}</td>
            <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{ dealer.full_name }}</a></td>
            <td>{{ dealer.city }}</td>
            <td>{{ dealer.address }}</td>
            <td>{{ dealer.zip }}</td>
            <td>{{ dealer.state }}</td>
          </tr>
        {% empty %}
          <tr><td colspan="6">No dealerships available.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    $('#dealerTable').bootstrapTable({
      // Add any additional Bootstrap table options here
    });
  });
</script>
{% endblock %}
